# App settings
APP_TITLE=GeoServiceENV
DEBUG_MODE=True
SECRET=geoservicesecretword

# DB settings
POSTGRES_DB=geo
POSTGRES_USER=geo
POSTGRES_PASSWORD=geo
DB_HOST=db
DB_PORT=5432

# Remote server
APP_TITLE_REMOTE=RemoteAPI
API_URL=http://remote_service:9000/result